@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --background:#353535 ;
    --primary: #e0fbfc;
    --secondary: #284b63;
    font-family: 'Roboto', sans-serif;

  }

  #root{
    background: white !important;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
  }







body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(251,237,230);
}

p{
  color: black !important;
}

.height{
  height: 100vh;
}



  .header-background{
    z-index: 999;
    height: 75px;
    width: 100vw;
    position: fixed;
    padding: 0 !important;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.205);
  }

  .img-height{
    margin-left: 30px !important;
    margin-right: 15px;
    height: 65px !important;
  }

  .logo-name{
    color: white !important;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 13px;
    margin: 0 !important;
  }
  
  .nav-link{
    position: relative;
    color: white !important;
    font-size: 13px !important;
    margin-right: 60px !important;
    margin-bottom: 0 !important;
    transition: .5s;
  }

  .nav-link:after {
    position: absolute;
    content: '';
    height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -4px; 


   /****** 
   optional values below 
   ******/
    
    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
      left: 0;
    right: 0;
    /* must be the same as nav-link padding-right otherwise it will not align */
      width: 0%;
      background: rgb(250, 198, 172) ;
      
      /* optional animation */
      -o-transition:.5s;
        -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.nav-link:hover{
    cursor: pointer;
    color: white !important;
}
  .nav-link:hover:after{
    width: 70%;
    background: rgb(250, 198, 172)  !important;
    cursor: pointer;
  } 

  .far-right{
    margin-right: 30px !important;
  }

  .contact-me{
    margin-bottom: 0 !important;
    border: 1px white solid;
    border-radius: 10px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: .5s;
    color: white !important;
  }
  .contact-me:hover{
    background: rgb(250, 198, 172);
    box-shadow: 0 0 15px rgb(250, 198, 172);
    border:1px rgb(250, 198, 172) solid;
    color: white !important;
    cursor: pointer;
  }
  
  .home{
    background-image: linear-gradient(rgba(70, 69, 69, 0.5), rgba(2, 2, 2, 0.295)), url("../images/bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    margin: 0 !important;
    padding-right: 0 !important;
    width: 100vw !important;
    height:100vh !important;  /* responsive height */


    

  }


  .dog-img-height{
    height: 300px;
  }

  .home-text-width{
    width: 600px;
    color: white !important;
    font-size: 14px;
  }

  .carousel-h1{
    color: black !important;
    font-size: 30px;
    font-weight: 800px;
    margin-bottom: 0 !important;
  }

  .home-h1{
    color: white !important;
    font-size: 45px;
    margin-bottom: 30px;
  }

  .homeCarousel{
    background: white;
    padding: 0;
    margin: 0;
    width: 100vw;

    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
    font-family: 'Roboto', sans-serif;

  }


  .home-cta{
    border: 1px rgb(250, 178, 142) solid; 
    color: white !important;
    padding: 7px 10px;
    border-radius: 16px;
    font-size: 18px;
    transition: .5s;
  }

  .home-cta:hover{
    background: rgb(250, 198, 172);
    border: 1px rgb(250, 198, 172) solid;
    color: white !important;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255, 177, 139);
    letter-spacing: .1em;
  }

  .img{
    width: 300px !important;
    height: 450px !important;
  }

  .img-spc{
    transition: .5s;
    width: 300px !important;
    padding-top: 105px;
    padding-bottom: 105px;
    height: auto !important;
  }



  .info-cta{
    height: 300px;
    width: 300px;

    border: 1px rgb(250, 198, 172) solid;
    box-shadow: 20px rgb(250, 198, 172);
    border-radius: 16px;
    text-align: center;
  }

  .info-header{
    color: black !important;
    font-size: 20px; 
  }


  .carousel-cta{
    border: 1px rgb(250, 178, 142) solid; 
    color: black !important;
    padding: 7px 10px;
    border-radius: 16px;
    text-align: center;
    width: 170px;
    font-size: 18px;
    transition: .5s;
  }


  
  .carousel-cta:hover{
    background: rgb(250, 198, 172);
    border: 1px rgb(250, 198, 172) solid;
    color: white !important;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255, 177, 139);
    letter-spacing: .1em;
  }

  .underline{
    position: relative;
  }


  .underline:after {
    position: absolute;
    content: '';
    height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -4px; 


   /****** 
   optional values below 
   ******/
    
    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
    padding: 0 !important;
    left: 0px;
    right: 0;
    width: 100px;
    background: rgb(250, 198, 172);
  
  /* optional animation */
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}



.info-cta-obedience{
  height: 350px;
  width: 300px;
  font-size: 20px; 
  border: 1px rgb(250, 198, 172) solid;
  box-shadow: 20px rgb(250, 198, 172);
  border-radius: 16px;
  text-align: center;
}


.info-text{
  font-size: 16px ;
}
  

.footer{
  height: 150px;

  background: rgba(250, 198, 172, 0.582);
}

.footer-img{
  height: 50px;
  width: 50px;
  margin: 0 25px;
}

.footer-img-fb{
  height: 45px;
  width: 45px;
  margin: 0 25px;
}